{
  "context-menu": {
    "atom-text-editor": []
  },
  "menu": [
    {
      "label": "Packages",
      "submenu": [
        {
          "label": "Console",
          "submenu": [
            {
              "command": "console:toggle",
              "label": "Toggle"
            }
          ]
        }
      ]
    }
  ]
}
